[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/libsdl-org/SDL.git
	ignore = dirty
[submodule "third_party/cglm"]
	path = third_party/cglm
	url = https://github.com/recp/cglm.git
	ignore = dirty
[submodule "third_party/reactphysics3d"]
	path = third_party/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d.git
	ignore = dirty
[submodule "third_party/enet"]
	path = third_party/enet
	url = https://github.com/lsalzman/enet.git
	ignore = dirty
